.subCon{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    overflow: hidden;
    
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   

}
.nav button{
    margin-bottom: 2rem;
    border: none;
    font-size: 1.7rem;
    border-radius: 25px;
    padding: 1rem 2rem ;
    color: white;
    width: 20%;
    background-color: #AD8700;
}
.nav button:hover{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px #AD8700;
    cursor: pointer;
}
/* .nav .prev{
    background-color: #003C70;
}
*/
.subCon .lan-btn:hover{
    box-shadow: 0 0 10px #003C70;
} 
/* .nav .page-n{
  position: relative;
  bottom: -2.5rem;

  background-color:  #003C70;
  color: #fff;
  padding: .7rem 6rem;
  border-radius: 50% 50% 0 0 ;
} */
.nav .page-n{
    position: relative;
    bottom: 0.5rem;
    background-color: #003C70;
    color: #fff;
    padding: 1.5rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 8rem;
    height: 5rem;
    text-align: center;
}
.subCon .lan-btn{
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 1rem 2rem ;
    color: white;
    cursor: pointer;
    background-color: #003C70;
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.body{
    height: 50rem;
    width: 90%;
    padding: 1rem;
    
}

@media only screen and (max-width: 1125px) {
    .subCon{
        overflow:scroll;     
    }
  }