.info{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.info h2{
    font-size: 2.2rem;
    margin-bottom: 7rem;
}
.info-con{
    display: flex;
    justify-content: space-between;
    direction: rtl;
    gap: 3rem;
    width: 100%;
}
.sub-info{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    direction: rtl;
    gap: .8rem;
    font-weight: bold;
}
.sub-info .title{
    color: #003C70;
}