.Content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 15px;
    margin-top: -5rem;
  }
  .Content p{
    color: #AD8700;
  }
  .Content .options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
  .Content .options button{
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 1rem 0;
    padding: 1rem 2rem ;
    color: white;
  }
  .mini-logo{
    height: 25%;
  }

  @media only screen and (max-width: 1125px) {
    .Content{
      width: 100%;
    }
  }