nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
    right: 0;
    left: 0;
    background: #D9D9D9;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    z-index: 1000;
}

nav .btn button {
    font-size: 15px;
    padding: 15px;
    border-radius: 15px;
    background: #003C70;
    color: white;
    border: none;
    cursor: pointer;
}

nav .btn button:hover {
    background: #AD8700;
    transition: 0.2s;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin: 0 19px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    transition: 0.1s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #AD8700;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #AD8700;
}
