*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;

}

html , body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

::-webkit-scrollbar{
  width: 0;
}